<a href="https://colab.research.google.com/github/suzzini/DS_Project/blob/main/DS_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [197]:
df=pd.read_csv("vgames2.csv")
df.head()

   Unnamed: 0  ... Other_Sales
0           1  ...           0
1           2  ...        0.01
2           3  ...           0
3           4  ...           0
4           5  ...        0.04

[5 rows x 10 columns]

In [199]:
#M 제거
df['NA_Sales']=df['NA_Sales'].str.replace('M','')
df['EU_Sales']=df['EU_Sales'].str.replace('M','')
df['JP_Sales']=df['JP_Sales'].str.replace('M','')
df['Other_Sales']=df['Other_Sales'].str.replace('M','')
df['NA_Sales'][458]

'0.25'

In [200]:
#변수를 임의로 설정하면 안되는 것인가 ?? 

#K단위들을 모두 M단위로 바꾸기(x1000)

df['NA_Sales'][df['NA_Sales'].str.contains('K')==True]=df['NA_Sales'][df['NA_Sales'].str.contains('K')==True].str.replace('K','').astype('float')/1000
df['EU_Sales'][df['EU_Sales'].str.contains('K')==True]=df['EU_Sales'][df['EU_Sales'].str.contains('K')==True].str.replace('K','').astype('float')/1000
df['JP_Sales'][df['JP_Sales'].str.contains('K')==True]=df['JP_Sales'][df['JP_Sales'].str.contains('K')==True].str.replace('K','').astype('float')/1000
df['Other_Sales'][df['Other_Sales'].str.contains('K')==True]=df['Other_Sales'][df['Other_Sales'].str.contains('K')==True].str.replace('K','').astype('float')/1000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [201]:
df['NA_Sales'].astype(float)
df['EU_Sales'].astype(float)
df['JP_Sales'].astype(float)
df['Other_Sales'].astype(float)

0        0.00
1        0.01
2        0.00
3        0.00
4        0.04
         ...
16593    0.01
16594    0.00
16595    0.13
16596    0.03
16597    0.01
Name: Other_Sales, Length: 16598, dtype: float64

In [203]:
df['Other_Sales'][399]

0.03