<a href="https://colab.research.google.com/github/suzzini/DS_Project/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_0501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- train_test_split
- exclude
- select_dtypes
- nunique
- [for]

In [1]:
import pandas as pd

target = 'vacc_h1n1_f' #독감
# target = 'vacc_seas_f' #계절독감
train = pd.merge(pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train.csv'), 
                 pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train_labels.csv')[target], left_index=True, right_index=True)
test = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/test.csv')
sample_submission = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/submission.csv')

### 데이터 나누기**(train_test_split)**

In [2]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(train, train_size=0.80, test_size=0.20, 
                              stratify=train[target], random_state=2)
#train, test의 비율 8/2
#훈련데이터를 나눌 때 무작위로 샘플링을 하되, original dataset의 클래스 비율이 train, test set에서도 동일하게 유지되는 것을 보장한다

train.shape, val.shape, test.shape

((33723, 39), (8431, 39), (28104, 38))

#### 타켓의 비율 확인하기

In [5]:
print(train[target].value_counts())

train[target].value_counts(normalize=True) # 백분율로 보여줌

0    25661
1     8062
Name: vacc_h1n1_f, dtype: int64

0    0.760935
1    0.239065
Name: vacc_h1n1_f, dtype: float64

#### exclude를 통해 데이터 타입이 number가 아닌 특성들 확인하기

In [13]:
train.describe(exclude='number')

       opinion_h1n1_vacc_effective  ...       state
count                        26637  ...       33723
unique                           6  ...          51
top             Somewhat Effective  ...  CALIFORNIA
freq                         11710  ...         829

[4 rows x 12 columns]

In [15]:
train.describe(exclude='number').T.sort_values(by='unique')

                             count  ...   freq
employment_status            25466  ...  13722
census_msa                   33723  ...  15202
opinion_h1n1_vacc_effective  26637  ...  11710
opinion_h1n1_risk            26602  ...   9980
opinion_h1n1_sick_from_vacc  26568  ...   9229
opinion_seas_vacc_effective  26519  ...  11571
opinion_seas_risk            26466  ...   9057
opinion_seas_sick_from_vacc  26413  ...  11813
agegrp                       33723  ...   6821
employment_industry          13714  ...   2451
employment_occupation        13714  ...   1769
state                        33723  ...    829

[12 rows x 4 columns]

In [18]:
train.shape

(33723, 39)

In [22]:
#원하는 데이터 타입가져오기
selected_cols = train.select_dtypes(include=['number', 'object'])
selected_cols

       h1n1_concern  h1n1_knowledge  ...        state  vacc_h1n1_f
20365           1.0             1.0  ...   NEW JERSEY            0
29138           1.0             1.0  ...         IOWA            1
36128           2.0             2.0  ...       OREGON            0
39793           2.0             1.0  ...         IOWA            0
32973           0.0             1.0  ...         IOWA            0
...             ...             ...  ...          ...          ...
8747            NaN             NaN  ...     ILLINOIS            0
4412            3.0             2.0  ...      INDIANA            0
19064           NaN             NaN  ...      GEORGIA            0
40906           NaN             NaN  ...      MONTANA            0
30904           2.0             1.0  ...  MISSISSIPPI            0

[33723 rows x 39 columns]

In [25]:
labels =selected_cols.nunique() # 특성별 카디널리티 리스트
labels[labels <= 30].index.tolist() #특성의 값이 30개 이하인 컬럼명만 가져오기

['h1n1_concern',
 'h1n1_knowledge',
 'behavioral_antiviral_meds',
 'behavioral_avoidance',
 'behavioral_face_mask',
 'behavioral_wash_hands',
 'behavioral_large_gatherings',
 'behavioral_outside_home',
 'behavioral_touch_face',
 'doctor_recc_h1n1',
 'doctor_recc_seasonal',
 'chronic_med_condition',
 'child_under_6_months',
 'health_insurance',
 'health_worker',
 'opinion_h1n1_vacc_effective',
 'opinion_h1n1_risk',
 'opinion_h1n1_sick_from_vacc',
 'opinion_seas_vacc_effective',
 'opinion_seas_risk',
 'opinion_seas_sick_from_vacc',
 'agegrp',
 'education_comp',
 'raceeth4_i',
 'sex_i',
 'inc_pov',
 'marital',
 'rent_own_r',
 'employment_status',
 'census_region',
 'census_msa',
 'n_adult_r',
 'household_children',
 'n_people_r',
 'employment_industry',
 'employment_occupation',
 'hhs_region',
 'vacc_h1n1_f']

In [26]:
[col for col in train.columns if 'behavioral' in col]

['behavioral_antiviral_meds',
 'behavioral_avoidance',
 'behavioral_face_mask',
 'behavioral_wash_hands',
 'behavioral_large_gatherings',
 'behavioral_outside_home',
 'behavioral_touch_face']

In [27]:
[col for col in train.columns if ('employment' in col or 'seas' in col)]

['doctor_recc_seasonal',
 'opinion_seas_vacc_effective',
 'opinion_seas_risk',
 'opinion_seas_sick_from_vacc',
 'employment_status',
 'employment_industry',
 'employment_occupation']